* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(229, 223, 199);
}
header {
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 700;
    padding-left: 20px;
}
.conteiner {
    max-width: 1920px;
}
.accordion {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.accordion-input {
    width: 0;
    height: 0;
    appearance: none;
    -webkit-appearance: none;
    display: none;
}
.accordion-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.accordion:hover > .accordion-item .accordion-title .accordion-element { 
    background-color: goldenrod;
    transition: 0.9s;
}
.accordion:hover > .accordion-item .accordion-title .accordion-element .accordion-name { 
    color: blue;
    cursor: pointer;
}
.accordion:hover > .accordion-item > .accordion-title > .accordion-element > .icon {
    width: 20px;
    height: 20px;
}
.accordion-item:hover > .accordion-title > .accordion-element > .accordion-icon {
    width: 20px;
    height: 20px;
    background-image: url(../cssBayan/img/door-open-solid.svg);
    background-position: center;
    background-repeat: no-repeat;
}
.accordion-item:hover > .accordion-picture > .accordion-image { 
    max-height: 100vh;
    max-width: 100vh;
}
.accordion-picture .accordion-image {
    width: 100%;
    max-height: 0;
    transition: max-height 0.7s ease;
}
.accordion-input:checked ~ .accordion-picture .accordion-image {
    max-width: 100vh;
    max-height: 100vh;
}
.accordion-input:checked + .accordion-title .accordion-element .accordion-icon {
    width: 20px;
    height: 20px;
    background-image: url(../cssBayan/img/door-open-solid.svg);
    background-position: center;
    background-repeat: no-repeat;
}
.accordion-input:checked + .accordion-title .accordion-element {
    background-color: goldenrod;
    color: blue;
}
.accordion-title {
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.2s ease-in;
    width: 800px;
    display: block;
    border-radius: 10px;
    padding-bottom: 5px;
}
.accordion-item:hover {
    cursor: pointer;
}
.accordion-element {
    background-color: aliceblue;
    width: 800px;
    border-radius: 10px;
    padding: 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon {
    width: 0;
    height: 0;
    background-image: url(../cssBayan/img/door-closed-solid.svg);
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.7s;
}
.accordion-picture .img-one {
    width: 350px;
    height: 350px;
    background-image: url(../cssBayan/img/google-russian.svg);
    background-position: center;
    background-repeat: no-repeat;
    margin: 5px auto;
}
.accordion-picture .img-two {
    width: 350px;
    height: 350px;
    background-image: url(../cssBayan/img/junior-russian.svg);
    background-position: center;
    background-repeat: no-repeat;
    margin: 5px auto;
}
.accordion-picture .img-three {
    width: 350px;
    height: 350px;
    background-image: url(../cssBayan/img/not-a-bug-russian.svg);
    background-position: center;
    background-repeat: no-repeat;
    margin: 5px auto;
}
.accordion-picture .img-four {
    width: 350px;
    height: 350px;
    background-image: url(../cssBayan/img/slothzy-russian.svg);
    background-position: center;
    background-repeat: no-repeat;
    margin: 5px auto;
}
.accordion-picture .img-five {
    width: 350px;
    height: 350px;
    background-image: url(../cssBayan/img/thanks-russian.svg);
    background-position: center;
    background-repeat: no-repeat;
    margin: 5px auto;
}
